input,
button {
  font-family: inherit;
  font-size: medium;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-task-container input {
  margin-right: 10px;
  width: 15em;
}

.dashed-line {
  border: none;
  border-top: 1px dashed #000; /* You can change the color (#000) to your preferred color */
  margin: 10px 0; /* Adjust the margin as needed */
}

.message {
  color: red;
  font-style: italic;
  text-align: center;
}

.error-message {
  color: red;
  font-style: italic;
}

/* Filter.css */
.filter-tasks-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.filter-tasks-container label {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 8px;
}

.filter-tasks-container input[type="checkbox"] {
  margin-right: 4px;
}

.filter-button,
.show-all-button {
  border: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: #d6cda4;
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
}

/* TaskElement.css */
.task {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.task-name {
  color: #1c6758;
}

.task-edit,
.task-remove,
.task-toggle {
  margin-right: 10px;
  margin-bottom: 8px;
  background-color: #e1c78f;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.task-tags {
  margin-top: 5px;
}

.task-tags span {
  background-color: #e0e0e0;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.tag-remove {
  background-color: #e0e0e0;
  border: none;
  font-weight: bold;
  padding: 2px 5px;
  cursor: pointer;
}

.active {
  background-color: antiquewhite;
}

.edit-task-div input,
button,
.custom-tag-div input,
button {
  margin-right: 3px;
  margin-top: 3px;
}

/* Style the select element */
select {
  margin-top: 5px;
  padding: 2px; /* Add padding to make the select element taller */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor style to pointer on hover */
}

/* Settings.css */
.theme-button,
.mode-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #c8ae7d;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

/* Summary.css */
.summary h2 {
  text-align: center;
  color: #d6cda4;
}

/* Interval.css */
.interval h2 {
  text-align: center;
  color: #d6cda4;
}

/* Charts.css */
.charts h2 {
  text-align: center;
  color: #d6cda4;
}
