/* Dark theme styles */
.darkTheme .container {
  background-color: #262626;
  color: #b3b3b3;
}

.darkTheme header {
  background-color: #191919;
  color: #f2f2f2;
}

.darkTheme footer {
  background-color: #191919;
  color: #b3b3b3;
}

.darkTheme h2,
.darkTheme h3,
.darkTheme h4 {
  color: #443f3f;
}

.darkTheme button {
  background-color: #e0e0e0;
}

/* Default theme styles */
.defaultTheme .container {
  background-color: #eef2e6;
  color: #3d8361;
}

.defaultTheme header {
  background-color: #1c6758;
  color: #d6cda4;
}

.defaultTheme footer {
  background-color: #d6cda4;
  color: #eef2e6;
}

/* general styles */
h2,
h3,
h4 {
  color: #1c6758;
}

header {
  padding: 1em;
  text-align: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-right: 3em;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: large;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}
hr {
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
}
ul li {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

footer {
  margin-top: 20px;
  padding: 0.1em;
  text-align: center;
}

/* Style the select element */
select {
  margin-top: 5px;
  padding: 2px; /* Add padding to make the select element taller */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Change cursor style to pointer on hover */
  font-size: 16px;
}

/* Media queries for smaller screens when width goes below 720 px */
@media only screen and (max-width: 720px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 1em;
  }
  nav ul {
    flex-direction: column; /* rearranged the nav elements from a horizontal row to be shown vertically */
    align-items: center;
  }
  nav li {
    display: block;
    margin: 0.5em 0;
  }
}
